.bar {
  background-color: #af7eeb;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 400px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.todo-list {
  width: 400px;
  margin-top: 20px;
  background-color: white;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
}
